*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    outline: 0 !important;
    transition: 0.33s;
    font-family: 'Open Sans';
}

html,
body {
    position: relative;
    width: auto !important;
    height: auto !important;
    overflow-x: auto !important;
    box-sizing: border-box;
}

.wrap {
    background: url("../img/background_img_compressed.png") no-repeat;
    padding-top: 50px;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    backface-visibility: hidden;
}

.main {
    padding-top: 0;
}

.gray-background {
    background-color: #5b5b5b;
}

.logo h4 {
    color: #fff;
    font-weight: 800;
}

.content-container {
    background-color: #fff;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.go-back p, .go-back:hover p {
    text-decoration: none;
    color: #000;
}

.content-body h3 {
    margin: 0;
    font-weight: 800;
}

.outer-div {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-div {
    width: 100%;
    margin: 3%;
}

.inner-div p {
    font-size: 18px;
    color: #fff;
    font-style: italic;
}

p {
    font-size: 13px;
}

.row6 {
    background-color: #f7f7f7;
}

.margin-top-bottom {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.content-container {
    margin-bottom: 0.5%;
}

.flex-container {
    display: block;
}

.flex-box-left-2, .flex-box-right-3 {
    text-align: center;
}

.row3, .flex-box-left-1, .flex-box-right-1, .flex-box-left-2, .flex-box-right-2, .flex-box-left-3, .flex-box-right-3 {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
}  

@media all and (min-width: 768px) {
    h3 {
        font-size: 20px;
    }

    .inner-div p {
        font-size: 23px;
    }

    .inner-div {
        margin: 5%;
    }

    p {
        font-size: 15px;
    }

    .main {
        padding-top: 50px;
    }
}

@media all and (min-width: 768px) {
    .col-md-6 {
        width: 100%;
    }
}

@media all and (min-width: 1200px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-box-left-1, .flex-box-right-1, .flex-box-left-2, .flex-box-right-2, .flex-box-left-3, .flex-box-right-3  {
        flex: 1;
    }
    
    .col-xs-6 {
        width: 50%;
    }

    .flex-box-right-3 img {
        width: 100%;
    }

    .row3, .flex-box-left-1, .flex-box-left-2, .flex-box-right-2, .flex-box-left-3 {
        padding-right: 15px;
        padding-left: 15px;
        margin: 0;
    }

    .flex-box-right-3 {
        padding-left: 15px;
        margin: 0;
    }

    .flex-box-right-1 {
        margin: 0;
    }

    .margin-top-bottom-large {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .flex-box-right-3 {
        padding-right: 0;
    }

    .row3, .row4, .row5 {
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .row6 {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 2%;
    }

    .content-container {
        padding-bottom: 2%;
    }

    .flex-box-left-3 h4 {
        margin: 5% 0 4% 0;
    }

    p.inline-block {
        font-size: 12px;
    }
    
    .row {
        margin-right: 15px;
        margin-left: 15px;
    }
    
    .banner-img-container img {
        width: 100%;
    }
    
    .flex-box-left-1 h4, .flex-box-right-2 h4, .flex-box-left-3 h4 {
        margin: 0 0 4% 0;
        font-size: 25px;
    }

    .inner-div p {
        font-size: 26px;
    }

    .inner-div {
        margin: 8%;
    }

    p {
        font-size: 16px;
    }
}



